services:
    # Frontend Web (Tu interfaz personalizada)
    web:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: devseniorcode-meet-web
        restart: always
        env_file: .env

        volumes:
            - ${CONFIG}/web/letsencrypt:/etc/letsencrypt
            - ${CONFIG}/transcripts:/usr/share/jitsi-meet/transcripts
        environment:
            - PUBLIC_URL
            - XMPP_BOSH_URL_BASE
            - XMPP_DOMAIN
        healthcheck:
            test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/" ]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 40s
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_DOMAIN}

    # XMPP Server
    prosody:
        image: jitsi/prosody:stable
        restart: always
        env_file: .env
        volumes:
            - ${CONFIG}/prosody/config:/config
            - ${CONFIG}/prosody/prosody-plugins-custom:/prosody-plugins-custom
        healthcheck:
            test: [ "CMD-SHELL", "prosodyctl about || exit 1" ]
            interval: 30s
            timeout: 10s
            retries: 3
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_SERVER}

    # Focus Component
    jicofo:
        image: jitsi/jicofo:stable
        restart: always
        env_file: .env
        volumes:
            - ${CONFIG}/jicofo:/config
        depends_on:
            - prosody
        networks:
            meet.jitsi:

                # Video Bridge
    jvb:
        image: jitsi/jvb:stable
        restart: always
        env_file: .env
        volumes:
            - ${CONFIG}/jvb:/config
        ports:
            - "10000:10000/udp"
            - "4443:4443/tcp"
        depends_on:
            - prosody
        networks:
            meet.jitsi:


networks:
    meet.jitsi:
        driver: bridge
        ipam:
            config:
                - subnet: 172.25.0.0/16
