services:
    # Frontend Web (Tu interfaz personalizada)
    web:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: devseniorcode-meet-web
        restart: always
        env_file: jitsi.env
        ports:
            # - "80:80"  <-- ELIMINADO: Traefik maneja esto
            # - "443:443" <-- ELIMINADO: Traefik maneja esto
        volumes:
            - ${CONFIG}/web/letsencrypt:/etc/letsencrypt
            - ${CONFIG}/transcripts:/usr/share/jitsi-meet/transcripts
        environment:
            - PUBLIC_URL
            - XMPP_BOSH_URL_BASE
            - XMPP_DOMAIN
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_DOMAIN}

    # XMPP Server
    prosody:
        image: jitsi/prosody:stable
        restart: always
        env_file: jitsi.env
        volumes:
            - ${CONFIG}/prosody/config:/config
            - ${CONFIG}/prosody/prosody-plugins-custom:/prosody-plugins-custom
        networks:
            meet.jitsi:
                aliases:
                    - ${XMPP_SERVER}

    # Focus Component
    jicofo:
        image: jitsi/jicofo:stable
        restart: always
        env_file: jitsi.env
        volumes:
            - ${CONFIG}/jicofo:/config
        depends_on:
            - prosody
        networks:
            meet.jitsi:

                # Video Bridge
    jvb:
        image: jitsi/jvb:stable
        restart: always
        env_file: jitsi.env
        volumes:
            - ${CONFIG}/jvb:/config
        ports:
            - "10000:10000/udp"
            - "4443:4443/tcp"
        depends_on:
            - prosody
        networks:
            meet.jitsi:


networks:
    meet.jitsi:
